body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.main-body header {
    background-color: #003b95
}

.main-body header .header1 {
    background-color: #003b95;
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.header1 #logo {
    font-size: 25px;
    float: left;
    width: 25%;
    font-weight: bold;
}

#logo a {
    color: aliceblue;
    text-decoration: none;
}

.header1 #main_menu {
    width: 75%;
    float: right;
    text-align: right;


}

.header1 #main_menu ul {
    list-style: none;
}

.header1 #main_menu ul li {
    display: inline-block;
    font-size: 18px;
}

.header1 #main_menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 2px;

}

.header2 {
    clear: both;
    width: 1100px;  
    padding: 20px 10px;
    margin: 0 auto;
}

.header2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header2 ul li {
    display: inline-block;

}

.header2 ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;

}

.header2 a:hover {
    background: linear-gradient(to bottom, #d3e8ef 0%, #d2c7cd 100%);
}

.header2 ul li:first-child {
    border-radius: 35px;
    padding: 10px;
    border: 2px solid white;
}


header .headings {
    color: white;
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 50px;
    /* Slight padding around the container */
}

.headings h1 {
    font-size: 50px;
    font-weight: bold;

}
.headings p {
    

}

.main-body #search {
    width: 1100px;
    margin: 0 auto;
    margin-top: -25px;

}

#search .form {
    border: 2px solid orange;
    
}

#search #state-select {
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 50px;
    
}


#search #check-in {
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 50px;
    

}

#search #check-out {
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 50px;
    

}

#search button {
    background-color: blue;
    color: white;
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 50px;
    width: 30%;

}
#search input{
    width: 25%;
}

.find {
    width: 1100px;
    margin: 0 auto;
    padding-top: 0px;
}

.offer h3 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;

}

.offer p {
    margin-top: -40px;
    font-size: 15px;
    color: rgb(95, 93, 93);
}

.find .banner {
    background-image: url(back.jpeg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    padding-bottom: 10px;
}


.find .banner h3 {
    color: white;
    margin: 13px;
    padding-top: 15px;

}

.find .banner p {
    color: white;
    margin: 13px;

}

.find .banner button {
    color: white;
    background-color: #003b95;
    font-size: 15px;
    margin: 13px;

}