body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

.main-body header {
    background-color: #003b95
}

.main-body header .header1 {
    background-color: #003b95;
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

.header1 #logo {
    font-size: 25px;
    float: left;
    width: 25%;
    font-weight: bold;
}

#logo a {
    color: aliceblue;
    text-decoration: none;
}

.header1 #main_menu {
    width: 75%;
    float: right;
    text-align: right;


}

.header1 #main_menu ul {
    list-style: none;

}

.header1 #main_menu ul li {
    display: inline-block;
    font-size: 18px;
    margin-top: -10px;
}

.header1 #main_menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 2px;

}

.header2 {
    clear: both;
    width: 1100px;
    padding: 20px 10px;
    margin: 0 auto;
}

.header2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header2 ul li {
    display: inline-block;

}

.header2 ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;

}

.header2 a:hover {
    background: linear-gradient(to bottom, #d3e8ef 0%, #d2c7cd 100%);
}

.header2 ul li:first-child {
    border-radius: 35px;
    padding: 10px;
    border: 2px solid white;
}


header .headings {
    color: white;
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 50px;
  
}

.headings h1 {
    font-size: 50px;
    font-weight: bold;

}

.headings p {}

.main-body #search {
    width: 1100px;
    margin: 0 auto;
    margin-top: -40px;
    background-color: white;

}

#search .form {
    border: 2px solid orange;

}

#search #state-select {
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 50px;
    float: left;

}


#search #check-in {
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 50px;


}

#search #check-out {
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 50px;


}

#search button {
    background-color: blue;
    color: white;
    border: 2px solid orange;
    padding: 10px;
    font-size: large;
    text-align: center;
    height: 76px;
    width: 100px;
    float: right;

}

#search input {
    width: 310px;
    margin-right: -5px;
}

.find {
    width: 1100px;
    margin: 0 auto;
    padding-top: 0px;
}

.offer h3 {
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;

}

.offer p {
    margin-top: -40px;
    font-size: 15px;
    color: rgb(95, 93, 93);
}

.find .banner {
    background-image: url(back.jpeg);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 180px;
    padding-bottom: 10px;
}


.find .banner h3 {
    color: white;
    margin: 13px;
    padding-top: 15px;

}

.find .banner p {
    color: white;
    margin: 13px;

}

.find .banner button {
    color: white;
    background-color: #003b95;
    font-size: 15px;
    margin: 13px;

}

.images {
    overflow-x: scroll;
    width: 1100;
    display: flex;
    overflow-clip-margin: content-box;

}

.property-type {
    margin: 10px;
    flex: 0 0 25%;

}

.property-type img {
    border-radius: 15px;
}

.property-type a {
    text-decoration: none;
}

.property-type a h4 {
    color: gray;
    text-align: center;
}

.explore-pakistan h3 p {
    font-weight: bold;
    margin-left: 8px;
}

.images-1 {
    overflow-x: scroll;
    width: 1100px;
    display: flex;

}

.images-1 .property-type1 {
    margin: 10px;
    flex: 0 0 15%;
}

.property-type1 img {
    width: 200px;
    height: 200px;
}

.property-type1 a {

    text-decoration: none;

}

.property-type1 a h4 {
    color: black;
    margin-top: 4px;
}

.property-type1 a p {
    color: gray;
    text-align: left;
    margin-top: -17px;
    font-size: small;
}

.unique-property {
    display: flex;
    width: 1100px;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.unique-property-1 {
    margin: 10px;
    flex: 0 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.unique-property-1 img {
    width: 300px;
    height: 200px;
    display: block;
    border-radius: 9px;
}

.unique-property-1 h3 {
    margin: 10px;
    color: black;

}

.unique-property-1 p {
    color: gray;
    padding-top: -2px;
    margin: 10px;
    font-size: small;

}

.unique-property-1 a {
    text-decoration: none;

}

.unique-property-1 button {
    color: white;
    background-color: #003b95;
}

.traveling .guest {
    width: 1100px;
    display: flex;
    overflow-x: scroll;
}

.guests-love {
    margin: 10px;
    flex: 0 0 15px;
    border: 2px solid rgb(251, 248, 248);
    border-radius: 12px;
}

.guests-love img {
    width: 300px;
    height: 200px;
    display: block;
    border-radius: 12px;
    margin-top: -7px;
    margin-bottom: 10px;

}

.guests-love a {
    text-decoration: none;

}

.guests-love h3 {

    color: black;
    font-size: small;
    font-weight: bold;
    margin-left: 10px;

}

.guests-love p {
    color: gray;
    font-size: small;
    margin-left: 10px;

}

.guests-love button {
    background-color: #003b95;
    color: white;
    border-radius: 6px;
    margin-bottom: -10px;
}




.inspiration {
    width: 1100px;
    overflow-x: scroll;
    display: flex;
    
}
.deals h2{
    padding-left: 50px;
}

.inspiration{
    width: 1100px;
    overflow-x: scroll;

}

.trip{
    display: flex;
    margin: 10px;
    flex: 0 0 25%;
    
}

.trip .trip-1 img{
    width: 300px;
    height: 500px;
}
.trip .trip-2 a{
    text-decoration: none;
    margin-left: -20px;
}

.trip img{
    width: 300px;
    height: 350px;
}